services:
  web:
    build:
      context: .
      dockerfile: MiraGamesBackend/Dockerfile
    container_name: miragamesapp-dev
    ports:
      - "5200:8080"
    env_file:
      - .env
    environment:
      - TZ=UTC
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - DOTNET_USE_POLLING_FILE_WATCHER=true
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - ConnectionStrings__ClickHouseConnection=${CLICKHOUSE_CONNECTION_STRING}
    networks:
      - miragames-network
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy

  postgres:
    image: postgres:15
    container_name: postgredb
    environment:
      - TZ=UTC
      - PGTZ=UTC
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5434:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - miragames-network

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhousedb
    environment:
      - TZ=UTC
      - CLICKHOUSE_DB=${CLICKHOUSE_DB}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ports:
      - "8124:${CLICKHOUSE_PORT}"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8123/ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - miragames-network

  tabix:
    image: spoonest/clickhouse-tabix-web-client
    container_name: clickhouse-tabix
    ports:
      - "8125:80"
    environment:
      - TZ=UTC
      - CH_HOST=clickhousedb
      - CH_PORT=${CLICKHOUSE_PORT}
      - CH_USER=${CLICKHOUSE_USER}
      - CH_PASSWORD=${CLICKHOUSE_PASSWORD}
    networks:
      - miragames-network
    depends_on:
      - clickhouse

volumes:
  postgres_data:
  clickhouse_data:

networks:
  miragames-network:
    driver: bridge